.light {
    background-color: gray;
    height: 60px;
}

.light.red.color {
    background-color: red;
}

.light.yellow.color {
    background-color: yellow;
}

.light.green.color {
    background-color: green;
}